* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #000000;
    background-image: url(/img/fon.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect (0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.main-header {
    margin-bottom: 75px;
}

.header-link-active{
    position: relative;
}

.header-link-active a:not([href]){
    background-color: #000000;
}

.header-link-active{
    background-color: #000000;
}

.header-link-active::after{
    content: "";
    position: absolute;
    right: 20px;
    bottom: 0px;
    left: 20px;
    height: 5px;
    background-color: #ffffff; 
}

.inner-page .main-header {
    margin-bottom: 55px;
}

.main-header-logo {
    width: 368px;
    height: 153px;
    order: 2;
}

.button {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    display: inline-block;
    padding: 10px 30px;
    margin-right: 16px;
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #000000;
    border: 0;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #633d15;
}

.button.disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: #000000;
}

.main-navigation {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.main-navigation-wrapper {
    width: 100%;
    min-height: 70px;
    margin-bottom: 60px;
    background-color: #000000;
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}

.inner-page .main-navigation-wrapper {
    margin-bottom: 0;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}


.site-navigation {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-navigation {
    max-width: 140px;
    display: flex;
    flex-wrap: wrap;
}

.site-navigation,
.user-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation a,
.user-navigation a {
    color: #ffffff;
    display: block;
    padding: 27px 20px;
    vertical-align: middle;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus,
.user-navigation a:hover {
    background-color: #242424;
}

.user-navigation .login-link {
    padding-left: 50px;
    position: relative;
}

.login-link:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 18px;
    top: 27px;
    left: 24px;
    background-image: url(/img/login-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
    opacity: 1;
}

.features {
    margin-bottom: 80px;
}

.features-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.features-item {
    text-align: center;
    width: 300px;
}

.features-item h3 {
    margin: 0px;
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 42px;
    position: relative;
}

.features-item h3::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    bottom: -30px;
    left: 50%;
    margin-left: -10px;
    transform: rotate(45deg);
}
}

.features-item p {
    margin: 0 10px;
}

.index-columns {
    color: #000000;
    background-color: #f8f5f2;
    background-image:
        url(/img/shadow.png),
        url(/img/pattern.jpg);
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.inner-page {
    background-image: url(../img/pattern.jpg);
    background-color: #f8f5f2;
    background-image: url(/img/pattern.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

.inner-page .main-header .main-navigation {
    display: flex;
    flex-direction: row;
}

.inner-page .main-header-logo {
    order: 0;
    width: 140px;
    height: 24px;
    background-color: #000000;
    padding: 25px 20px;
}

.news {
    width: 380px;

}

.gallery {
    width: 380px;
}

.index-columns h2 {
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 42px;
}

.news-list {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    list-style: none;
}

.news-item {
    margin-bottom: 25px;
}

.new-item p {
    padding: 0;
}

.news-item time {
    text-transform: none;
}

.gallery-content {
    background-color: #cccccc;
    border: 7px solid #ffffff;
    height: 164px;
    margin: 0;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery-container {
    position: relative;
    height: 260px;
}

.gallery-button {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 140px;
    margin: 0;
}

.gallery-button-back {
    left: 0;
}

.gallery-button-next {
    right: 0;
}

.appointment-item input {
    font: inherit;
    background-color: transparent;
    border: 2px solid #000000;
    box-sizing: border-box;
    width: 140px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
}

.appointment-item input:focus {
    border-color: #663d15;
}

.appointment {
    width: 300px;
}

.appointment .button {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
}


.appointment-item {
    width: 140px;
    margin: 0;
    margin-bottom: 10px;
}

.appointment-item label {
    display: block;
    margin-bottom: 9px;
    margin-left: 15px;
}

.appointment-info {
    margin: 0;
    margin-bottom: 15px;
}

.appointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
}

.main-footer {
    color: #ffffff;
    background-color: 212121;
    background-image: url(/img/pattern-footer.jpg);
    background-position: 0 0;
    background-repeat: repeat;
    padding: 30px 0;
}

.main-footer .container {
    display: flex;
}

.contacts {
    width: 380px;
}

.contacts p {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-contacts {
    margin: 0;
    width: 320px;
    margin-right: 80px;
}

.footer-social {
    text-align: center;
    width: 145px;
}

.footer-social b {
    display: block;
    margin-bottom: 15px;
}

.social-list {
    list-style: none;
    display: flex;
    width: 141px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.social-button {
    color: #ffffff;
    height: 43px;
    width: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.social-button:hover,
.social-button:focus {
    background: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
    fill: #000000;
}

.footer-copyright {
    text-align: center;
    margin: 0;
    width: 150px;
    margin-left: auto;
}

.footer-copyright b {
    display: block;
    margin-bottom: 15px;
}

.footer-copyright .button {
    display: block;
    margin-right: 0;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    background-color: #ffffff;
    color: #000000;
}

.modal {
    color: #000000;
    background-color: #f8f5f2;
    background-image: url(/img/pattern.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

.modal h2 {
    font-size: 30px;
    line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    border: 2px solid #000000;
}

.login-form input:focus {
    border-color: #633d15;
}

.restore {
    color: #000000;
    text-decoration: underline;
}

.restore:hover {
    text-decoration: none;
}

.inner-page h1 {
    color: #000000;
    margin-top: 0px;
    margin-bottom: 20px;
}

.breadcrumb_list {
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    display: flex;
    width: 625px;
    padding: 0;
    justify-content: space-between;
    list-style: none;
    position: relative;
    margin-bottom: 55px;
}

.breadcrumb-active {
    color: #aba9a7;
}

.breadcrumb-active a {
    color: #aba9a7;
}

.breadcrumb_item a {
    color: #000000;
}

.breadcrumb_item:after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #000000;
    transform: rotate(45deg);
    position: absolute;
    bottom: 7px;
    margin-left: 15px;
}

.breadcrumb_item:after:last-child {
    content: '';
    background-color: transparent;
}

.item-photo {
    width: 460px;
}

.img-list {
    width: 460px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.description {
    color: #000000;
    width: 390px;
    padding: 0 10px;
    margin-left: 70px;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    width: 390px;
    margin-bottom: 37px;
}

.product-container:first-child {
    width: 90px;
}

.product-container:last-child {
    width: 110px;
    margin-left: 175px;
}

.product-price {
    display: flex;
    color: #000000;
    padding-left: 16px;
    padding-bottom: 16px;
}


.product-price b {
    background-color: #e5e5e5;
    padding: 14px 19px;
}

.product-price a {
    background-color: #000000;
    color: #ffffff;
    padding: 14px 19px;
}

.product-text {
    margin-bottom: 37px;
}

.item-product-price {
    padding: 0;
    margin-bottom: 65px;
}

.product-price a:hover {
    background-color: #663d15;
}

.description h3 {
    margin-bottom: 18px;
}

.composition-list {
    list-style: none;
    padding: 0;
    position: relative;
}

.main-img {
    margin-bottom: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.img-item {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.inner-page h1 {
    font-size: 30px;
    line-height: 42px;
}

.inner-page h3 {
    font-size: 24px;
    line-height: 30px;
}

.inner-page .site-navigation {
    padding: 0 10px;
}

.inner-page .user-navigation {
    margin-left: 60px;
}

.composition-item {
    margin-bottom: 8px;
}

.composition-item span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #000000;
    transform: rotate(45deg);
    margin-right: 10px;
}

.breadcrumb_list_shop {
    width: 300px;
}

.shop-container {
    display: flex;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 720px;
}

.products h3 {
    font-size: 14px;
    line-height: 18px;
}

.products {
    margin-left: 75px;
    margin-bottom: 25px;
}

.product-item span {
    color: #000000;
}

.product-item {
    width: 220px;
    margin-right: 20px;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.product-item > a {
    display: flex;
    flex-direction: column;
    color: #000000;
}

.product-item h3 {
    padding-left: 16px;
    margin-bottom: 13px;
}

.product-item-img {
    order: -1;
}

.filters {
    width: 168px;
}

.filters-form {
    width: 168px;
    color: #000000;

}

.producers {
    margin: 0;
    padding: 0;
}

.filters-form fieldset {
    border: 0;
}

.product-groups p {
    margin-bottom: 20px;
}

.product-groups {
    padding: 0;
    margin-bottom: 30px;
}

legend {
    font-size: 24px;
    line-height: 30px;
    padding: 0px;
    width: 168px;
}

.filters-form:first-child {
    margin-bottom: 45px;
}

.producers {
    margin-bottom: 45px;
}

.producers p {
    margin-bottom: 20px;
}

.producers legend,
.product-groups legend {
    margin-bottom: 27px;
}

.filters-form .button {
    padding: 8px 30px;
}

.shaving span {
    margin-left: 25px;
}

.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.radio + label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}

.radio + label:before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
    border-radius: 50%;
    background: #FFF;
}

.radio + label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transition: .2s;
}

.radio:checked + label:after {
    opacity: 1;
    background: #000000;

}

.radio:hover + label {
    color: #663d15;
}

.checkbox:hover + label {
    color: #663d15;
}

.radio:disabled + label {
    color: #b0aeac;
}

.checkbox:disabled + label {
    color: #b0aeac;
}

.checkbox:disabled + label:before {
    border: 2px solid #b0aeac;
}

.radio:disabled + label:before {
    border: 2px solid #b0aeac;
}

.radio:checked:disabled + label:after {
    background: #b0aeac;

}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.checkbox + label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}

.checkbox + label:before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
    background: #FFF;
}

.checkbox:checked + label:after {
    content: url(/img/cross.svg);
    width: 12px;
    height: 12px;
    position: absolute;
    left: 4px;
}

.checkbox:checked:disabled + label:after {
    content: url(/img/cross-disabled.svg);
    width: 12px;
    height: 12px;
    position: absolute;
    left: 4px;
}

.pagination-list {
    list-style: none;
    width: 193px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.pagination-list a {
    color: #ffffff;
    height: 43px;
    width: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.pagination-list a:hover,
.pagination-list a:active {
    background-color: #663d15;
}

.pagitaion-active {
    background-color: #ffffff;
    color: #000000;
    height: 43px;
    width: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-container {
    width: 195px;
    margin-left: 240px;
}

.price-breadcrumb_list {
    width: 155px;
}

.price-title {
    color: #000000;
    font-size: 48px;
    line-height: 48px;
}

.price-line {
    border: 2px solid black;
}

.price-flexbox {
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.facilities {
    width: 240px;
    margin-bottom: 60px;
    list-style: none;
    position: relative;
}

.facilities-item {
    margin-left: 20px;
}

.facilities-item:before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #000000;
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    margin-top: 5px;
}

.price_masters {
    width: 465px;
}

.about_us,
.info_text {
    width: 380px;
}

.price-masters-table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 460px;
}

.price-masters-table tr,
.price-masters-table td {
    border: 1px solid black;
}

.price-masters-table td {
    height: 40px;
    width: 227px;
}

.price-title {
    margin-bottom: 60px;
}

.price-masters-table span {
    margin-left: 17px;
}

.price-masters-table tr > td:last-child {
    text-align: center;
}

.price-flexbox h3 {
    margin-bottom: 30px;
}

.info_text {
    margin-right: 80px;
}

.info_text-title-hidden {
    visibility: hidden;
}

.price-flexbox section {
    margin-bottom: 60px;
}

/* Всплывающее окно */

.modal {
    position: fixed;
    color: #000000;
    background-color: #f8f3f0;
    background-image: url(/img/pattern.jpg);
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login {
    top: 120px;
    left: 50%;
    width: 300px;
    padding: 50px 80px;
    margin-left: -230px;
    display: none;
}

.modal-close {
    width: 22px;
    height: 22px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -34px;
    background-color: transparent;
}

.modal-close::before,
.modal-close::after {
    content: "";
    width: 19px;
    height: 3px;
    top: 10px;
    left: 2px;
    position: absolute;
    background-color: #d0d0d0;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-login h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
}

.modal-description {
    margin: 0;
    margin-bottom: 10px;
}

.login-form p {
    margin: 0;
    margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 300px;
    padding: 10px 15px;
    padding-right: 40px;
    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.login-form input:focus {
    border-color: #633d15;
}

.login-icon-user {
    background-image: url(/img/user.svg);
    background-position: 270px center;
    background-repeat: no-repeat;
}


.login-icon-password {
    background-image: url(/img/lock.svg);
    background-position: 270px center;
    background-repeat: no-repeat;
}

.login-form .login-help {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0;
}

.login-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator:before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 1px;
    width: 15px;
    height: 2px;
    background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator:before {
    transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator:after {
    transform: rotate(-45deg);
}

.modal-map {
    top: 50%;
    left: 50%;
    width: 766px;
    height: 561px;
    margin-top: -280px;
    margin-left: -390px;
    border: 7px solid white;
}

.modal-map p{
    margin: 0;
}

.modal{
    display: none;
}